@import url('http://fonts.cdnfonts.com/css/lemonmilk');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lemon/Milk', sans-serif;
    text-transform: uppercase;
}

html {
  background: #000000;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.section h1 {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    color: #ffffff;
    font-size: 6vmin;
    padding-left: 10%;
    padding-right: 10%;
}

section:nth-child(even) {
    justify-content: flex-end;
}

.topnav {
    position: fixed;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: inline-flex;
    color: #f2f2f2;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 2vw;
    padding-left: 2vw;
    text-decoration: none;
    font-size: 1rem;
}